[Unit]
Description=IoT Flow logic engine

[Service]
Type=simple
ExecStart=/usr/bin/conbee-ad -c config.json
User=conbee-ad
WorkingDirectory=/var/lib/futurehome/conbee-ad
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target