Package: conbee
Version: 0.3.4
Section: non-free/misc
Priority: optional
Architecture: armhf
Maintainer: Aleksandrs Livincovs <aleksandrs.livincovs@gmail.com>
Description: Conbee zigbee adapter for futurehome.
