[Unit]
Description=Conbee zigbee adapter

[Service]
Type=simple
ExecStart=/opt/thingsplex/conbee-ad/conbee-ad
User=conbee-ad
WorkingDirectory=/opt/thingsplex/conbee-ad
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target