[Unit]
Description=Conbee zigbee adapter

[Service]
Type=simple
ExecStart=/opt/thingsplex/conbee/conbee
User=conbee-ad
WorkingDirectory=/opt/thingsplex/conbee
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target